.cart {
    &__placeholder {
        font-size: 1.7rem;
        height: 150px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aliceblue;
        color: rgba(128, 128, 128, 0.3);
    }
}
